@if(forgotPasswordStep === 'email') {
  <div class="flex flex-col gap-3 space-y-5">
    <div class="flex flex-row items-center">
      <ion-icon 
        slot="start" 
        name="arrow-back-outline" 
        class="text-primary-custom font-semibold text-lg" 
        (click)="onBackToLogin.emit()">
      </ion-icon>
      <h2 class="text-xl font-bold mx-auto text-primary-custom">
        Recuperar senha
      </h2>
    </div>
    <p class="text-sm text-gray-500 text-center">Digite seu email para receber um link de recuperação de senha.</p>
  
    <form [formGroup]="formForgotPassword" (ngSubmit)="sendEmail()">
      <div class="flex flex-col gap-3 items-center justify-center space-y-5 my-3">
        <div class="w-full">
          <input type="email" placeholder="Email" class="base-input text-sm" formControlName="email">
        </div>
      </div>
      <div class="w-full my-12">
        <button 
          type="submit" 
          class="bg-primary-custom text-white-custom w-full rounded-full py-1 font-semibold"
        >
          Próximo
        </button>
      </div>
    </form>
  </div>
}

<!-- As opções irão consistir entre enviar um email ou sms -->
@if(forgotPasswordStep === 'options') {
  <div class="flex flex-col gap-3 space-y-5">
    <div class="flex flex-row items-center">
      <ion-icon 
        slot="start" 
        name="arrow-back-outline" 
        class="text-primary-custom font-semibold text-lg" 
        (click)="onBackToLogin.emit()">
      </ion-icon>
      <h2 class="text-xl font-bold mx-auto text-primary-custom">
        Recuperar senha
      </h2>
    </div>
    <p class="text-sm text-gray-500 text-center">Escolha uma opção para recuperar sua senha.</p>
    <div class="flex flex-col gap-3 items-center justify-center space-y-5 my-8">
      <!-- Email -->
      <div 
        class="w-full border shadow-lg rounded-lg p-5 flex flex-row items-center gap-4" 
        (click)="optionSelected = 'email'"
        [ngClass]="{'bg-primary-custom text-white-custom': optionSelected === 'email'}"
      >
        <ion-icon 
          name="mail-outline" 
          class="text-primary-custom text-4xl"
          [ngClass]="{'text-white-custom': optionSelected === 'email'}"
        ></ion-icon>
        <div>
          <h3 class="text-xs">Via e-mail</h3>
          <p class="text-sm font-bold">{{ userEmail }}</p>
        </div>
      </div>
      <!-- SMS -->
      <div 
        class="w-full border shadow-lg rounded-lg p-5 flex flex-row items-center gap-3" 
        (click)="optionSelected = 'sms'"
        [ngClass]="{'bg-primary-custom text-white-custom': optionSelected === 'sms'}"
      >
        <ion-icon 
          name="phone-portrait-outline" 
          class="text-primary-custom text-4xl"
          [ngClass]="{'text-white-custom': optionSelected === 'sms'}"
        ></ion-icon>
        <div>
          <h3 class="text-xs">Via SMS</h3>
          <p class="text-sm font-bold">{{ userPhone }}</p>
        </div>
      </div>
    </div>
    <div class="w-full">
      <button 
        class="bg-primary-custom text-white-custom w-full rounded-full py-1 font-semibold"
        (click)="selectedDeviceToReceiveToken(optionSelected)"
      >
        Enviar {{ optionSelected === 'email' ? 'E-mail' : 'SMS' }}
      </button>
    </div>
  </div>
}

@if(forgotPasswordStep === 'reset-password') {
  <div class="flex flex-col gap-3 space-y-5">
    <div class="flex flex-row items-center">
      <ion-icon 
        slot="start" 
        name="arrow-back-outline" 
        class="text-primary-custom font-semibold text-lg" 
        (click)="onBackToLogin.emit()">
      </ion-icon>
      <h2 class="text-xl font-bold mx-auto text-primary-custom">
        Criar nova senha
      </h2>
    </div>
    <p class="text-sm text-gray-500 text-center">Digite o token recebido por email ou SMS e sua nova senha.</p>
    <form [formGroup]="formResetPassword" (ngSubmit)="resetPassword()" class="flex flex-col gap-3 items-center justify-center space-y-5 my-3">
      
      <div class="w-full">
        <input type="text" placeholder="Token" class="base-input text-sm" formControlName="token">
      </div>
      
      <div class="w-full">
        <input type="password" placeholder="Nova senha" class="base-input text-sm" formControlName="newPassword">
      </div>

      <div class="w-full">
        <input type="password" placeholder="Confirmar nova senha" class="base-input text-sm" formControlName="confirmNewPassword">
      </div>

      <div class="w-full">
        <button 
          class="bg-primary-custom text-white-custom w-full rounded-full py-1 font-semibold mb-5"
          (click)="resetPassword()"
        >
          Redefinir senha
        </button>
      </div>
    </form>
  </div>
}

@if(forgotPasswordStep === 'success') {
  <app-finished-process
    iconName="lock-open"
    class="text-center"
    title="Senha redefinida com sucesso"
    description="Sua senha foi redefinida com sucesso. Você pode agora fazer login com sua nova senha."
    buttonText="Voltar para o login"
    (onSubmit)="onBackToLogin.emit()">
  </app-finished-process>
}