$primary-custom: #FF1F00;
$secondary-custom: #ffffff;
$black-custom: #000000;
$white-custom: #FFFFFF;
$gray-100-custom: #808080;
$gray-300-custom: #808080;
$gray-600-custom: #808080;
$gray-900-custom: #A9A9A9;

:root {
  --primary-custom: #FF1F00;
  --secondary-custom: #ffffff;
  --black-custom: #000000;
  --white-custom: #FFFFFF;
  --gray-100-custom: #808080;
  --gray-300-custom: #808080;
  --gray-600-custom: #808080;
  --gray-900-custom: #A9A9A9;
  
}